<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:insert="~{header::language}"></div>
<div th:insert="~{header::catalog}"></div>
<div th:insert="~{header::account}"></div>
<div th:insert="~{header::logout}"></div>

<form th:action="@{/create-option}" th:method="post" th:object="${createOption}">
    <label for="name">
        <span th:text="#{option}">Option:</span>
        <input type="text" id="name" th:field="*{name}">
        <span th:each="err : ${#fields.errors('name')}" th:text="#{${err}}" style="color: red">Error</span>
    </label>
    <br>
    <label for="description">
        <span th:text="#{description}">Description:</span>
        <input type="text" id="description" th:field="*{description}">
    </label>
    <br>
    <label for="price">
        <span th:text="#{price}">Price:</span>
        <input type="number" id="price" th:field="*{price}">
        <span th:each="err : ${#fields.errors('price')}" th:text="#{${err}}" style="color: red">Error</span>
    </label>
    <br>
    <input type="submit" th:value="#{create}">
</form>
</body>
</html>